::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px;
}

::-webkit-scrollbar-track {
background-color:#6E6E6E;
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 10px;
border-radius: 10px;
background-color:#1C1C1C;
}

::-webkit-scrollbar-thumb:hover{
background-color:#2E2E2E;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:7px;
height:0px;
}

::-webkit-scrollbar{
width: 15px;
}